.share-link {
  margin: 7px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--ifm-color-content);
}

.share-link:hover {
  color: var(--ifm-color-content);
  text-decoration: none;
}

.share-popover-container {
  padding: 10px;
  box-shadow: 0px 4px 6px var(--ifm-color-content-secondary);
  background-color: white;
}

.share-link-list {
  display: flex;
  flex-direction: column;
}
