name: api
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - 'api/**'
      - 'backend/api/**'
      - backend/go.mod
      - backend/go.sum
      - 'frontend/api/**'
      - tools/compile-protos.sh
      - .github/workflows/api.yml
      - Makefile
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.16.0
      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'
          check-latest: true
      - name: build and verify
        run: make api-verify
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.16.0
      - name: lint
        run: make api-lint
