name: ci
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - .github/renovate.json
jobs:
  renovate-config:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"
          check-latest: true
      - name: Enforce consistent Yarn version
        run: ./tools/install-yarn.sh
      - name: Install renovate-config-validator
        run: yarn add renovate@^34.0.0
        working-directory: build
      - name: Validate renovate.json
        run: yarn renovate-config-validator ../.github/renovate.json
        working-directory: build
