name: docs
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    paths:
      - 'docs/**'
      - .github/workflows/docs.yml
      - Makefile
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.14.4
      - name: generate docs
        run: make docs-generate
      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: Enforce consistent Yarn version
        run: ./tools/install-yarn.sh
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-docs-${{ hashFiles('docs/**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-docs-
      - name: install dependencies
        run: yarn --cwd docs/_website install --frozen-lockfile
      - name: build website
        run: yarn --cwd docs/_website build
      - name: deploy branch preview
        id: deployPreview
        if: github.ref != 'refs/heads/master'
        run: |
          output=$(yarn --cwd docs/_website run netlify deploy --alias ${GITHUB_SHA} 2>&1)
          echo "$output"
          url=$(echo "$output" | awk -v pat="Website Draft URL*" '$0 ~ pat')
          echo "::set-output name=preview_url::${url##* }"
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
      - name: post preview url to pr
        if: github.ref != 'refs/heads/master'
        uses: actions/github-script@v2
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            github.repos.createStatus({
              sha: "${{ github.event.pull_request.head.sha }}",
              state: "success",
              target_url: "${{ steps.deployPreview.outputs.preview_url }}",
              context: "docs / preview",
              owner: context.repo.owner,
              repo: context.repo.repo,
            })
      - name: deploy to main preview site
        if: github.ref == 'refs/heads/master'
        run: yarn --cwd docs/_website run netlify deploy --prod
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
